<!DOCTYPE html>
<html>
  <head>
    <title>Detector de Plágio</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
